{% extends 'AppCoder/base.html' %}

{% load static %}

{% block titulo %}
    Curso Edicion
{% endblock titulo %}

{% block header %}    
    <div class="masthead-subheading"><br>  Crear un nuevo Curso !</div>
    <br>
{% endblock header %}

{% block body %}
    <br>
    <form class="container" method="POST">
        {% csrf_token %}
        <p>Nombre: <input type="text" name="nombre" value="{{ curso.nombre }}"></p>
        <p>Camada: <input type="number" name="camada" value="{{ curso.camada }}"></p>
        <input type="submit" value="Guardar">
        <br>
        <a href="{% url 'List' %}">Regresar..</a>
    </form>
{% endblock body %}