{% extends 'AppCoder/base.html' %}

{% load static %}

{% block titulo %}
    Estudiante Detalle
{% endblock titulo %}

{% block header %}    
    <div class="masthead-subheading"><br> Detalle del Estudiante !</div>
{% endblock header %}

{% block body %}
    <br>
    <div class="container">
        <p>Nombre del Alumno: <i> {{ estudiante.nombre }}  </p>
        <p>Apellido del Alumno: <i> {{ estudiante.apellido }}  </p>
        <p>Email del Alumno: <i> {{ estudiante.email }}  </p>
    </div>
    <p class="container">
        <a href="{% url 'List_Est' %}">Regresar..</a>
    </p>
    <br>
{% endblock body %}